/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*begin our styles*/
 
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #fff;
}


/* header */

.header {

  /*position: fixed;*/
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #18456F;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /*border-right: 1px solid #f4f4f4;*/
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #2b4971;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 19px 20px;
  text-decoration: none;
}

.logo img {
    height:20px;
}

.subnav {
    padding:10px 5px;
    overflow:hidden;
}

.submenu a{
    color:#333;
    text-decoration:none;
    font-size:0.9em;
}

.subnav ul {
    overflow:auto;
}

.submenu li {
    white-space:nowrap;
}

.submenu li a{
    float:left;
    padding: 10px 20px;
}

.submenu li a:hover{
    background-color: rgba(0,0,0,.1);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.header-container {
  background-color: #18456F;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,.4);
}

.header h2 {
    color: #fff;
    float: left;
    padding: 21px 60px;
}

.state {
    display: block;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* Footer */
.footer-header {
    background-color:#403531;
}

.footer-container {
    margin: 0 auto;
    color:#d4dbdd;
}

.footer, .footer-header {
        padding: 20px 20px;
}

.footer {
    background-color:#4b3e39;
    overflow:hidden;
    font-size:0.9em;
}

    .footer .left {
        float:left;
    }

    .footer .right {
        float:right;
    }
    
    .footer .left, .footer .right {
        width:50%;
    }

    .footer p {
        line-height:2em;
    }

    .footer-header h4 {
        font-weight:bold;
        /* font-size:1.2em; */
    }



/* 48em = 768px Desktop size */


@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
    .header {
        overflow:hidden;
    }
  .header .menu-icon {
    display: none;
  }

    .subnav {
        clear:both;
    }

    .header, .subnav, .footer-content, .footer-header-content {
    margin: 0 auto;
    /*max-width:1400px;*/
    }

    .state {
        display: none;
    }
}

/* Content */

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.content-container {
    margin-bottom:20px;
    padding: 0 20px;
}

.tile {
    padding:20px;
    background-color:#e9eef2;
    margin-top:10px;
    border-bottom: 1px solid #d4dbdd;
}

    .tile img {
        width:100%;
        margin:15px 0;
    }

    .tile a {
        color:#333;
        text-decoration:none;
    }

    .tile .tile-title {
        /* font-size:.9em; */
        font-weight:bold;
    }

    .tile p {
        font-size: .8em;
        line-height: 1.5em;
    }

/* section */

/*.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}*/